.news-title {
  font-size: 1.05rem;
  font-weight: 400 !important;
  font-family: 'Newsreader' !important;
  font-optical-sizing: auto !important;
  margin: 0 0 5px 0 !important;
}

.news-date {
  color: rgb(var(--muted)) !important;
  font-size: .7rem;
  font-weight: 400 !important;
  margin-bottom: 0 !important;
}
.news-description {
  font-weight: 400 !important;
  margin-bottom: 0 !important;
  font-size: .85rem;
}

.news-description a {
  font-weight: 400 !important;
}

.news-description a:hover {
  font-weight: 400 !important;
}

.travel-date {
  color: rgb(var(--muted)) !important;
  font-weight: 400 !important;
  font-size: .7rem !important;
}

.travel-detail {
  font-family: 'Newsreader' !important;
  font-weight: 400 !important;
  font-size: .8rem !important;
  margin-right: .75rem !important;
  font-optical-sizing: auto !important;
}
.travel-location {
  font-size: .75rem !important;
}
